@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    transition: all .3s;
}

html, body, #app, .container, .home {
    height: 100%;
}

html {
    background-color: $color-dark;
    font-family: "Poppins";
}
body {
    margin: 0;
}